API_TOKEN={YOUR TELEGRAM API TOKEN}
COOOKIE={YouTube Session Cookie}
TELEGRAM_CHANNEL_OR_GROUP={TELEGRAM CHANNEL OR GROUP NAME}
TELEGRAM_TIKTOK_CHANNEL={TELEGRAM CHANNEL OR GROUP NAME}
TZ={TIMEZONE, e.g., America/New_York}
